/*
CSS для всего приложения
*/
/* 
    Created on : Jan 29, 2018, 1:19:02 PM
    Author     : I
*/

.root {
/*    -fx-background-image: url("background.jpg");*/
}

.my-rect {
    -fx-fill: yellow;
    -fx-stroke: green;
    -fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}